.main
{
    width:400px;
    height:400px;
    margin:auto;
    margin-top: 10%;
    border: 2px solid black;
    display:block;
    background-color:black;
    border-radius: 10%;
    box-shadow: 1px 1px red;
}
.in{
     margin: 5%;
     padding:6%;
     background-color: azure;
}
.in input{
    margin:3%;                                             
}
#res
{
    margin:auto;
    width: 80px;
    height: 50px;
    background-color: aqua;
    border-radius: 30%;
    text-align: center;
    padding-top: 6%;
}
.opp
{
    margin-top:2%;
    margin-left:8%;
    PADDING-LEFT:5%;
}
.opp input{
    margin-left:5%;
    margin-top:2%;
    background-color:green;
    padding:3%;
    border-radius: 30%;
}
#reload
{
    margin:auto;
    margin-top:4%;
    height:10px;
    padding:2%;
    width:15%;
    background-color: aquamarine;

}